################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/11-Asp.Net Core + SignalR (Net 8)/SignalR/.vs/SignalR/FileContentIndex/12572f77-a6b6-44c7-a4ec-e462d862a5ce.vsidx
