@{
    ViewData["Title"] = "Home Page";
}
@section Scripts{
<script src="~/js/signalr-client.js"></script>
}
<h1>Connected Count</h1> 
<span id="connected-client-count">Tüm Clientlere Gönder</span>

<button id="btn-send-message-all-client">Tüm Clientlere Gönder</button>
<button id="btn-send-message-caller-client">İstek Yapan Cliente Gönder</button>